<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Angular Shop</a>
        </div>
        <ul class="nav navbar-nav">
            <!--<li ng-repeat="item in headerItems">-->
                <!--<a  ui-sref={{item.sref}}>{{item.text}}</a>-->
            <!--</li>-->
            <li class="pull-right">
                <a  ui-sref='logout'>Logout</a>
            </li>
        </ul>
    </div>
</nav>