<div class="col-sm-12">
    <div class="well">
        <h3>Users</h3>
        <ul class="list-group" ng-if="admin.users">
            <li class="list-group-item" ng-repeat="user in admin.users">
                <h4>{{user.name}}</h4>
                <h5>{{user.email}}</h5>
            </li>
        </ul>
        <div class="alert alert-danger" ng-if="admin.error">
            <strong>There was an error: </strong> {{admin.error.error}}
            <br>Please go back and login again
        </div>
    </div>
</div>