<div class="col-sm-12">
    
    <div class="well col-xs-12" ng-if="product" >
        
        <div class="alert alert-danger col-xs-12" ng-if="error">
            <strong>There was an error: </strong> {{error}}
        </div>
        <div class="alert alert-success col-xs-12" ng-if="success">
            <strong>Success: </strong> {{success}}
        </div>
        <div class="col-xs-12">
            <h3>{{product.name}}</h3>
            <div class="col-xs-12">
                <img class="pull-left" src="{{product.image_src}}" alt="{{product.name}}">
            </div>
            <p><b>category : </b>{{product.category.name}} </p>
            <p><b>price : </b>{{product.price + ' ' + product.currency}} </p>
        </div>
        <div class="col-xs-12">
            <button class="btn"
                    stripe-checkout="doCheckout"
                    data-key="pk_test_jAzTnDjSLBU8bjvA3L7KqQia"
                    data-name="buy product"
                    data-description="{{product.name}}"
                    data-email="{{user.email}}"
                    data-amount="{{product.price + '00'}}"
                    data-currency="{{product.currency}}">
                Buy
            </button>
        </div>
    </div>
</div>