<div class="col-sm-12">
    <div class="well col-xs-12">
        <h3>Create new category</h3>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" ng-model="adminCategory.name">
        </div>
        <button class="btn btn-primary" ng-click="adminCategory.store()">Submit</button>
        <div class="alert alert-danger" ng-if="adminCategory.error">
            <strong>There was an error: </strong> {{adminCategory.error}}
        </div>
    </div>
</div>