<div class="col-sm-12">
    <div class="well col-xs-12">
        <h3>Categories</h3>
        <button ui-sref="adminCategoriesCreate" class="btn">create new</button><br><br>
        <ul class="list-group " ng-if="adminCategory.categories">
            <li class="list-group-item col-xs-12" ng-repeat="category in adminCategory.categories">
                <div class="col-xs-10">
                    <h4>{{category.name}}</h4>
                </div>
                <div class="col-xs-1">
                    <a href="/admin/categories/edit/{{category.id}}"><span class="glyphicon glyphicon-edit"></span></a>
                </div>
                <div class="col-xs-1">

                    <a href="" ng-click="adminCategory.delete(category.id)"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </li>
        </ul>
        <div class="alert alert-danger" ng-if="adminCategory.error">
            <strong>There was an error: </strong> {{adminCategory.error}}
        </div>
        <div class="alert alert-success" ng-if="adminCategory.success">
            <strong>Success: </strong> {{adminCategory.success}}
        </div>
    </div>
</div>