<div class="col-sm-12">
    <div class="well col-xs-12">
        <h3>Create new product</h3>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" ng-model="data.name">
        </div>
        <div class="form-group" ng-if="categories">
            <label for="categories">Select category:</label>
            <select class="form-control" id="categories" ng-model="data.category_id">
                <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" placeholder="Price" ng-model="data.price">
        </div>
        <div class="form-group">
            <label for="currency">Select currency:</label>
            <select class="form-control" id="currency" ng-model="data.currency">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
        </div>
        <label class="import-file">
            <input type="file"  fileread="data.file" onchange="angular.element(this).scope().fileNameChanged(this)">
            <div>Import file...</div>
        </label>
        <div class="col-xs-12">
            <button class="btn btn-primary" ng-click="store()">Submit</button>
        </div>
        <div class="alert alert-danger" ng-if="error">
            <strong>There was an error: </strong> {{error}}
        </div>
    </div>
</div>