<div class="col-sm-12">
    <div class="well col-xs-12">
        <h3>Edit product</h3>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" ng-model="product.name">
        </div>
        <div class="form-group" ng-if="categories">
            <label for="categories">Select category:</label>
            <select
                class="form-control"
                id="categories"
                ng-model="product.category_id"
                ng-options="category.id as category.name for category in categories">
            </select>
        </div>
        <div class="form-group">
            <label>Price:</label>
            <input type="number" class="form-control" placeholder="Price" ng-model="product.price">
        </div>
        <div class="form-group">
            <label for="currency">Select currency:</label>
            <select
                class="form-control"
                id="currency"
                ng-model="product.currency"
                ng-options="currency.name as currency.name for currency in currencies">
            </select>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <img class="col-xs-3" src="{{product.image_src}}" alt="{{product.name}}">
            </div>
            <label class="import-file">
                <input id="editProductImageInput" type="file"  fileread="data.file" onchange="angular.element(this).scope().fileNameChanged(this)">
                <!--<input type="file"  fileread="data.file" onchange="angular.element(this).scope().readURL(this)">-->
            </label>
            <span style="cursor: pointer;" ng-click="deleteImage()" class="glyphicon glyphicon-trash"></span>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-primary" ng-click="store()">Submit</button>
        </div>
        <div class="alert alert-danger" ng-if="error">
            <strong>There was an error: </strong> {{error}}
        </div>
    </div>
</div>