<div class="col-sm-12">
    <div class="well col-xs-12">
        <h3>Search</h3>
        <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" placeholder="Name" ng-model="searchData.name">
        </div>
        <div class="form-group" ng-if="categories">
            <label for="categories">Select category:</label>
            <select class="form-control" id="categories" ng-model="searchData.category">
                <option value="">NONE</option>
                <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Price between</label>
            <div class=" row">
                <div class="col-xs-3">
                    <input type="number" class="form-control col-xs-2" placeholder="start" ng-model="searchData.price_from">
                </div>
                <div class="col-xs-3">
                    <input type="number" class="form-control col-xs-2" placeholder="end" ng-model="searchData.price_to">
                </div>
                <div class="col-xs-3">
                    <select class="form-control" id="currency" ng-model="searchData.currency">
                        <option value="USD" selected>USD</option>
                        <option value="EUR">EUR</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <button class="btn" ng-click="search()">Search</button>
        </div>
    </div>
    <div class="well col-xs-12">
        <div class="col-xs-9">
            <h3>Products</h3>
        </div>
        <div class="col-xs-3">
            <button ui-sref="adminProductsCreate" class="btn">create new</button><br><br>
        </div>
        <div class="col-xs-4" ng-if="products" ng-repeat="product in products">
            <div class="col-xs-12">
                <h4><a href="{{'/admin/products/' + product.id}}">{{product.name}}</a></h4>
            </div>
            <div class="col-xs-12">
                <img class="col-xs-12" src="{{product.image_src}}" alt="{{product.name}}">
            </div>
        </div>
        <div class="alert alert-danger" ng-if="error">
            <strong>There was an error: </strong> {{error}}
        </div>
        <div class="alert alert-success" ng-if="success">
            <strong>Success: </strong> {{success}}
        </div>
    </div>
</div>