<div class="col-sm-12">
    <div class="well col-xs-12" ng-if="product" >
        <div class="col-xs-12">
            <h3>{{product.name}}</h3>
            <div class="col-xs-12">
                <img class="pull-left" src="{{product.image_src}}" alt="{{product.name}}">
            </div>
            <p><b>price : </b>{{product.price + ' ' + product.currency}} </p>
            <p><b>category : </b>{{product.category.name}} </p>
            <div class="col-xs-12">
                <button ui-sref="adminProductsEdit({id: product.id})" class="btn btn-primary">Edit</button>
                <button ng-click="delete(product.id)" class="btn btn-primary">Delete</button>
            </div>
        </div>
        <div class="alert alert-danger" ng-if="error">
            <strong>There was an error: </strong> {{error}}
        </div>
        <div class="alert alert-success" ng-if="success">
            <strong>Success: </strong> {{success}}
        </div>
    </div>
</div>